@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    font-family: 'Public Sans', sans-serif;
}
.signup-container{
    min-width: 20%;
    margin: 2rem auto;
    padding: 2.5rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 0.7rem;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
form legend{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
form label{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}
form input{
    font-size: 1.2rem;
    padding: 0.6rem 0.5rem;
    border: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}
.input-tos {
    margin: 1rem 0;
}
.input-tos span{
    font-size: 1.2rem;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.7);
}
.input-tos span a{
    text-decoration: none;
}
button{
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: orange;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}
.formError{
    color: red;
    margin: 0.3rem;
    font-size: 1rem;
}

@media screen and (max-width:450px) {
    .signup-container{
        padding: 1rem;
        width: 80%; 
        box-shadow: none; 
    }
}