@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

nav {
    background-color: rgba(0, 0, 128, 0.861);
    color: white;
}

nav ul {
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    margin: auto 0;
}
nav ul li a{
    margin: auto;
    color: white;
    text-decoration: none;
}

nav ul li img {
    height: 3rem;
}

#products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    width: 25rem;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.product .category {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.4rem 0;
}

.product img {
    width: 25rem;
    height: 15rem;
    object-fit: contain;
}

.product .title {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.product .price {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.product .category {
    text-transform: uppercase;
}

.product .description-div {
    margin: 1rem 0;
    word-wrap: break-word;
}

.fa-star {
    color: gold;
}

.button {
    margin-top: 1.8rem;
    border: none;
    font-size: 1.5rem;
    background-color: orange;
    border-radius: 1rem;
    padding: 0.8rem 3rem;
    cursor: pointer;
    color: white;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem;
}

.product:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    transition: .2s;
}

button:hover {
    background-color: orangered;
    transition: .5s ease-in-out;
}
.error{
    padding: 3rem;
    text-align: center;
}
#logout{
    cursor: pointer;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin-top: 5rem;
    border: 0.4rem solid navy;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: navy transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:600px) {
    nav ul li img {
        height: 2rem;
    }
    .product {
        width: 15rem;
        margin: 1rem;
    }

    .product img {
        width: 15rem;
    }
}